@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shadows+Into+Light&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
/*    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.15)), url(images/quiltbynathanbang_unsplash.jpg) ;*/
    background: url(images/quiltbynathanbang_unsplash.jpg) ;
    background-size: cover;
    background-color: rgba(244, 248, 128, 0.27);
    background-blend-mode: multiply;
    padding: 10px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

h1, h2 { font-family: 'Shadows Into Light', cursive; }

.title, .description { text-align: center; }

.aboveQuiltContainer {
    background: rgba(255, 255, 255, 0.39);
    padding: 1rem;
}

.options {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
}

.fabricSize, .blockType, .quiltBlocks, .seamAllowance { width: 50%; }

input { max-width: 60px; margin: 10px;}

select { font-family: 'Raleway', sans-serif; font-size: 1rem;}

.quiltContainer {
    height: 50vh;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #000;
}

footer, footer a {
    color: #fff;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;
}